openapi: '3.0.0'
info:
  version: 1.0.0
  title: Tracktag.me API
  license:
    name: MIT
servers:
  - url: https://api.tracktag.me/v1
paths:
  /tracks:
    get:
      summary: List all watermarked tracks
      operationId: listTracks
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of tracks
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a watermarked track
      operationId: createTracks
      responses:
        201:
          description: Track watermarking successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tracks/{trackId}:
    get:
      summary: Info for a specific watermarked track
      operationId: showTrackById
      parameters:
        - name: trackId
          in: path
          required: true
          description: The id of the track to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tracks'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Track:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Tracks:
      type: array
      items:
        $ref: '#/components/schemas/Track'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string